<table class="table table-sm">
  <h3>Links</h3>
  <thead class="thead-light">
    <tr>
      <th style="word-wrap: break-word;min-width: 160px;max-width: 160px;">URL</th>
      <th>Short URL</th>
      <th>Visit Count</th>
      <th>Link Stats</th>
    </tr>
  </thead>
  <tbody>
      <% @links.each do |link| %>
        <tr data-link="<%= link_path(link) %>">
            <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;"><%= link.full_url %> </td>
            <td><%= request.base_url%>/<%= link.short_url %> </td>
            <td><%= link.visit_count %> </td>
            <td><%= link_to 'Get Statistics', link_path(link) %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<%= link_to 'Create Short URL', new_link_path %>
